Markdown>=2.6.8
Jinja2>=2.9.6
mako>=1.0.7
sh>=1.12.13
scour>=0.36
pandocfilters>=1.4.1
mkdocs>=0.16.3
lxml>=3.8.0
beautifulsoup4>=4.6.0
bleach>=2.0.0
mdx_bleach>=0.1.2
pymdown-extensions>=3.5.0
pyembed>=1.3.3
pyembed-markdown>=1.1.0
markdown-include>=0.5.1
mdx_outline>=1.2.1
mdx_sections>=0.1
mdx_customspanclass>=1.1.1
mdx_cite>=1.0
mdx_collapse>=0.1.0
fontawesome-markdown>=0.2.6
markdown-attr-plus>=0.3.0
mkdocs-material>=1.8.1
git+git://github.com/mkszk/mdx_figcap.git
git+git://github.com/twardoch/markdown-steroids.git
git+git://github.com/twardoch/markdown-utils.git
git+git://github.com/twardoch/mkdocs-combine.git
git+git://github.com/ryneeverett/python-markdown-comments.git
