@charset "UTF-8";
.md-typeset .keys kbd::before,
.md-typeset .keys kbd::after {
  position: relative;
  margin: 0;
  color: inherit;
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial; }
.md-typeset .keys span {
  padding: 0 px2em(3.2px);
  color: var(--md-default-fg-color--light); }
.md-typeset .keys .key-alt::before {
  padding-right: px2em(6.4px);
  content: "⎇"; }
.md-typeset .keys .key-left-alt::before {
  padding-right: px2em(6.4px);
  content: "⎇"; }
.md-typeset .keys .key-right-alt::before {
  padding-right: px2em(6.4px);
  content: "⎇"; }
.md-typeset .keys .key-command::before {
  padding-right: px2em(6.4px);
  content: "⌘"; }
.md-typeset .keys .key-left-command::before {
  padding-right: px2em(6.4px);
  content: "⌘"; }
.md-typeset .keys .key-right-command::before {
  padding-right: px2em(6.4px);
  content: "⌘"; }
.md-typeset .keys .key-control::before {
  padding-right: px2em(6.4px);
  content: "⌃"; }
.md-typeset .keys .key-left-control::before {
  padding-right: px2em(6.4px);
  content: "⌃"; }
.md-typeset .keys .key-right-control::before {
  padding-right: px2em(6.4px);
  content: "⌃"; }
.md-typeset .keys .key-meta::before {
  padding-right: px2em(6.4px);
  content: "◆"; }
.md-typeset .keys .key-left-meta::before {
  padding-right: px2em(6.4px);
  content: "◆"; }
.md-typeset .keys .key-right-meta::before {
  padding-right: px2em(6.4px);
  content: "◆"; }
.md-typeset .keys .key-option::before {
  padding-right: px2em(6.4px);
  content: "⌥"; }
.md-typeset .keys .key-left-option::before {
  padding-right: px2em(6.4px);
  content: "⌥"; }
.md-typeset .keys .key-right-option::before {
  padding-right: px2em(6.4px);
  content: "⌥"; }
.md-typeset .keys .key-shift::before {
  padding-right: px2em(6.4px);
  content: "⇧"; }
.md-typeset .keys .key-left-shift::before {
  padding-right: px2em(6.4px);
  content: "⇧"; }
.md-typeset .keys .key-right-shift::before {
  padding-right: px2em(6.4px);
  content: "⇧"; }
.md-typeset .keys .key-super::before {
  padding-right: px2em(6.4px);
  content: "❖"; }
.md-typeset .keys .key-left-super::before {
  padding-right: px2em(6.4px);
  content: "❖"; }
.md-typeset .keys .key-right-super::before {
  padding-right: px2em(6.4px);
  content: "❖"; }
.md-typeset .keys .key-windows::before {
  padding-right: px2em(6.4px);
  content: "⊞"; }
.md-typeset .keys .key-left-windows::before {
  padding-right: px2em(6.4px);
  content: "⊞"; }
.md-typeset .keys .key-right-windows::before {
  padding-right: px2em(6.4px);
  content: "⊞"; }
.md-typeset .keys .key-arrow-down::before {
  padding-right: px2em(6.4px);
  content: "▽"; }
.md-typeset .keys .key-arrow-left::before {
  padding-right: px2em(6.4px);
  content: "◁"; }
.md-typeset .keys .key-arrow-right::before {
  padding-right: px2em(6.4px);
  content: "▷"; }
.md-typeset .keys .key-arrow-up::before {
  padding-right: px2em(6.4px);
  content: "△"; }
.md-typeset .keys .key-backspace::before {
  padding-right: px2em(6.4px);
  content: "⌫"; }
.md-typeset .keys .key-backtab::before {
  padding-right: px2em(6.4px);
  content: "⇤"; }
.md-typeset .keys .key-caps-lock::before {
  padding-right: px2em(6.4px);
  content: "⇪"; }
.md-typeset .keys .key-clear::before {
  padding-right: px2em(6.4px);
  content: "⌧"; }
.md-typeset .keys .key-context-menu::before {
  padding-right: px2em(6.4px);
  content: "☰"; }
.md-typeset .keys .key-delete::before {
  padding-right: px2em(6.4px);
  content: "⌦"; }
.md-typeset .keys .key-eject::before {
  padding-right: px2em(6.4px);
  content: "⏏"; }
.md-typeset .keys .key-end::before {
  padding-right: px2em(6.4px);
  content: "⤓"; }
.md-typeset .keys .key-escape::before {
  padding-right: px2em(6.4px);
  content: "⎋"; }
.md-typeset .keys .key-home::before {
  padding-right: px2em(6.4px);
  content: "⤒"; }
.md-typeset .keys .key-insert::before {
  padding-right: px2em(6.4px);
  content: "⎀"; }
.md-typeset .keys .key-page-down::before {
  padding-right: px2em(6.4px);
  content: "⇟"; }
.md-typeset .keys .key-page-up::before {
  padding-right: px2em(6.4px);
  content: "⇞"; }
.md-typeset .keys .key-print-screen::before {
  padding-right: px2em(6.4px);
  content: "⎙"; }
.md-typeset .keys .key-tab::after {
  padding-left: px2em(6.4px);
  content: "↹"; }
.md-typeset .keys .key-num-enter::after {
  padding-left: px2em(6.4px);
  content: "⌤"; }
.md-typeset .keys .key-enter::after {
  padding-left: px2em(6.4px);
  content: "⏎"; }

/*# sourceMappingURL=keys.css.map */
